/* Stil für die Navigation-Bar */
body {
  background-color: #333;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #333;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  margin-right: auto; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto; 
}

.nav-item {
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s, transform 0.2s;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s, transform 0.2s; 
}

.nav-item a:hover {
  color: #008628;
  transform: scale(1.1);
}
.nav-item a.active {
  font-weight: bold;
  border-bottom: 2px solid #008628;
}
