/* Äußerer Chat-Behälter */
.chat {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  height: 500px;
  min-width: 100px;
  overflow-y: scroll; /* Behalte diese Eigenschaft bei, um das Scrollen zu aktivieren */
  border-radius: 8px;
}

.mine {
  align-self: flex-end;
  text-align: right;
  margin-bottom: 10px;
  border-bottom: #f77 1px solid;
  width: 40%;
}

.mine .message {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  word-break: break-all;
}

.yours {
  align-self: flex-start;
  margin-bottom: 10px;
  border-bottom: #f77 1px solid;
}

.yours .message {
  background-color: #eee;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  width: 40%;
}

.user-info {
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  border-radius: 1px solid #f81515;
  margin-bottom: 5px;
}

.user-info img {
  width: 100px;
  height: 80px;
  border-radius: 10%;
  margin-right: 10px;
}
.new-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 
}

.new-message input {
  width: 80%;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  
}

button {
  margin: 10px;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  background-color: #007bff;
  font-size: 16px;
  cursor: pointer;
}
.typing-indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background: transparent;
  height: 40px;
  animation: fade-in 0.5s linear forwards;
  opacity: 0;
}

.typing-indicator {
  width: 12px;
  height: 12px;
  background: #07f;
  /* border-radius: 50%; */
  margin: 0 4px;
  animation: typing 1.5s infinite;
  transform: translateY(0);
}

@keyframes typing {
  0%,
  100% {
    transform: translateY(0);
    background: #07f;
  }
  25% {
    transform: translateY(-15px);
    background: #f77;
  }
  50% {
    transform: translateY(0);
    background: #0c0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
