body {
  background-color: #333; 
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.create-account-container {
  display: flex;
  align-items: center;
  background-color: #333; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  max-width: 100%;
  height: 50vh;
}

input {
  border: none; 
  border-bottom: 2px solid #404040; 
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  background-color: transparent; 
  transition: border-bottom 0.3s ease-in-out; 
  color: #9d9d9d; 
}

input:focus {
  outline: none;
  border-bottom: 2px solid #008628; 
}

.left {
  flex: 1;
  padding: 20px;
}

.middle {
  border-left: 2px solid #ccc; 
  height: 50vh; 
}

.right {
  flex: 1;
  padding: 20px;
}


button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #008628;
}
